<h1>Portfolio items</h1>
<%= link_to "New portfolio", new_portfolio_path %>
<% @portfolio_items.each do |portfolio| %>
    <h2><%=portfolio.title%></h2>
    <h3><%=portfolio.subtitle%></h3>
    <p><%=portfolio.body%></p>
    <%=image_tag portfolio.main_image if !portfolio.main_image.nil? %>
    <%= link_to "Edit",edit_portfolio_path(portfolio) %>
    <%= link_to "Show",portfolio_show_path(portfolio) %>
    <%= link_to "Delete",portfolio_path(portfolio),method: :delete,data:{confirm:"are you sure?"} %>
<% end %>